<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "www.quizzabanda.com"
        version     = "3.3.0" >

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>330</string>
    </gap:config-file>

    <preference name="phonegap-version"  />
	<gap:platform name="android" />
    <gap:platform name="winphone" />

    <preference name="android-targetSdkVersion" value="28" />


    <access origin="10.0.0.1" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />


    <name>Quizzabanda App</name>
    <icon src="icon.png" gap:platform="ios" width="57" height="57" />

    
    <author href="http://www.quizzabanda.com" email="info@quizzabanda.com">
        Sauro Gabellini
    </author>

	
    <plugin name="cordova-plugin-inappbrowser"  />
    <plugin name="cordova-plugin-barcodescanner" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-insomnia" />

    
	<access origin="*" />
</widget>
