<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "www.quizzabanda.com"
        version     = "3.1.0" >

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>310</string>
    </gap:config-file>

    <preference name="phonegap-version"  />
	<gap:platform name="ios" />
	<gap:platform name="android" />
    <gap:platform name="winphone" />

    
    <access origin="10.0.0.1" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />


    <name>Quizzabanda App</name>
    <icon src="icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/icon-certify-72.png" gap:platform="ios" width="72" height="72"/>
    <icon src="img/icon-certify-76.png" gap:platform="ios" width="76" height="76"/> 
    <icon src="img/icon-certify-120.png" gap:platform="ios" width="120" height="120"/> 
    <icon src="img/icon-certify-152.png" gap:platform="ios" width="152" height="152"/>
    <icon src="img/icon-certify-57.png" gap:platform="ios" width="57" height="57"/> 

		
    <gap:splash src="splash.png" gap:platform="ios"     width="320" height="480" />
    <gap:splash src="splashx2.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="splash-568h@2x.png"  gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="splashipad.png"  gap:platform="ios"     width="768" height="1024" />
    
    <author href="http://www.quizzabanda.com" email="info@quizzabanda.com">
        Sauro Gabellini
    </author>

	
    <plugin name="cordova-plugin-inappbrowser" spec="1.0.1" />
    <plugin name="cordova-plugin-barcodescanner" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <plugin name="cordova-plugin-vibration" spec="~2.1.3" />
    <plugin name="cordova-plugin-insomnia" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.1" />
    
	<access origin="*" />
</widget>
